# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=task_scheduler

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Etcd
ETCD_HOSTS=etcd:2379

# Scheduler Config
LEADER_ELECTION_TTL=15
DISPATCH_INTERVAL_MS=1000
